doctype html
html(lang='en',ng-app='app')
	head
		meta(charset='utf-8' name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
		title= title
		//link(rel='stylesheet', href='css/app.css')
		script( type='text/javascript', src='socket.io/socket.io.js')
		script( type='text/javascript', src='javascripts/nexusui/dist/nexusUI.js')		
		script(type='text/javascript', src='javascripts/jquery.min.js')
		script(type='text/javascript', src='javascripts/angular.min.js')
		script(type='text/javascript', src='javascripts/angular-route.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='script.js')
		base('/')


		script.
			//console.log(userInfo);
			var socket = io(location.hostname+':'+'#{port}',
				{
				  transports: ['websocket'],
				  'force new connection': true
				});

			//console.log('socket established');
			socket.on('connect', function() {
				var userInfo = {
					initials: '#{initials}',
					socketid: '/#'+socket.id
				};
				//console.log(userInfo);
				socket.emit('add_user',userInfo);
			});

			socket.on('current_state',function(state){
				//console.log('receiving current state')
				console.log(state.args[0]);

				var currentStateURL = '#' + state.args[0];
				window.location = currentStateURL;
				nx.colorize("#63e616")
				for(var n in nx.widgets)
				{
					
					nx.widgets[n].init();
					nx.widgets[n].draw();
				}
				// Force location (navigate via message from socket)
				//window.location = currentStateURL;
				
			});

			socket.on('disconnect', function() {
				socketConnectTimeInterval = setInterval(function () {
				      socket.socket.reconnect();

				      if(socket.socket.connected) {
				      		clearInterval(socketConnectTimeInterval);
				      		var userInfo = {
								initials: '#{initials}',
								socketid: '/#'+socket.id
							};
							//console.log(userInfo);
							socket.emit('add_user',userInfo);
						}
				}, 1000);
			})
	body
		h1= initials
		div(id='container', ng-view)


		
		
